---
import { type Experience, sortBys, orderBys } from '../../types/experience.ts';
import ExperienceFilter from './ExperienceFilter.astro';
import ExperienceSort from './ExperienceSort.astro';
import ExperiencesList from './ExperiencesList.astro';

interface Props {
  allExperiences: Experience[],
  allCategories: string[]
}

const { allExperiences, allCategories } = Astro.props;
---
<h3>Experiences</h3>
<ExperienceFilter allCategories={allCategories} />
<ExperienceSort sortBys={sortBys} orderBys={orderBys}/>
<ExperiencesList />

<script is:inline define:vars={{
  allExperiences,
  allCategories,
  sortBys,
  orderBys,
}}>
  const showHiddenCheckbox = document.getElementById('filter-show-hidden');
  const allCategoryCheckboxes = document.querySelectorAll('.filter-category-checkbox');
  const sortBySelect = document.getElementById('sort-by-select');
  const orderBySelect = document.getElementById('order-by-select');
  const experiencesUl = document.getElementById('experiences-ul');

  const applyDefaults = () => {
    showHiddenCheckbox.checked = false;
    allCategoryCheckboxes.forEach((checkbox) => {
        checkbox.checked = true;
    });
    sortBySelect.value=sortBys[0]; // Title
    orderBySelect.value=orderBys[0]; // Ascending
  };

  const applyEventListeners = () => {
    showHiddenCheckbox.addEventListener('change', (e) => render());
    allCategoryCheckboxes.forEach((checkbox) => checkbox.addEventListener('change', (e) => render()));
    sortBySelect.addEventListener('change', (e) => render());
    orderBySelect.addEventListener('change', (e) => render());
  };

  const render = () => {
    let selectedCheckboxes = [];
    allCategoryCheckboxes.forEach((checkbox) => {
      if(checkbox.checked && !selectedCheckboxes.includes(checkbox.value)) {
        selectedCheckboxes = [...selectedCheckboxes, checkbox.value];
      }
    });
    const filteredExperiences = allExperiences.filter((experience) => {
      const shouldBeShown = !experience.frontmatter.hidden || showHiddenCheckbox.checked;
      if(!shouldBeShown) {
        return false;
      }
      return true;
    });
    const sortBy = sortBySelect.value;
    const orderBy = orderBySelect.value;
    const sortedExperiences = filteredExperiences.sort((experienceA, experienceB) => {
      const multiplier = orderBy === orderBys[0] ? 1 : -1;
      if(sortBy === sortBys[0]) {
        return multiplier * experienceA.frontmatter.title.localeCompare(experienceB.frontmatter.title);
      } else if(sortBy === sortBys[1]) {
        return multiplier * (new Date(experienceA.frontmatter.fromdate) - new Date(experienceB.frontmatter.fromdate));
      } else if(sortBy === sortBys[2]) {
        return multiplier * (new Date(experienceA.frontmatter.todate) - new Date(experienceB.frontmatter.todate));
      } else if(sortBy === sortBys[3]) {
        return multiplier * experienceA.frontmatter.category.localeCompare(experienceB.frontmatter.category);
      }
      return 0;
    });
    experiencesUl.innerHTML = `
      ${sortedExperiences.map((experience) => 
        `<li><a href="${experience.url}">${experience.frontmatter.title}</a></li>`).join('')}
    `;
  };

  applyDefaults();
  applyEventListeners();
  render();
</script>

