---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allAwards = Object.values(import.meta.glob('./**/index.md', {eager: true}));

let placements = [];
allAwards.forEach((award) => {
  if(!placements.includes(award.frontmatter.placement)) {
    placements = [...placements, award.frontmatter.placement];
  }
});
placements.sort((a, b) => a.localeCompare(b));

const bys = ['Title', 'Date'];
const orders = ['Ascending', 'Descending'];
---
<BaseLayout pageTitle="Awards">
  <h2>Awards</h2>
  <fieldset id="award-filter">
    <legend>Filter</legend>
    Placement:
    {placements.map((placement) => 
    <label>
      <input class="placement-checkbox" type="checkbox" value={placement} checked />
      {placement}
    </label>)}
  </fieldset>
  <fieldset>
    <legend>Sort</legend>
    <label>
      Sort By:
      <select id="sort-by">
      {bys.map((by) => <option selected={by === 'Date'} value={by}>{by}</option>)}
      </select>
    </label>
    <label>
      Order By:
      <select id="order-by">
        {orders.map((order) => <option selected={order === 'Descending'} value={order}>{order}</option>)}
      </select>
    </label>
  </fieldset>
  <ul id="awards-ul"></ul>
</BaseLayout>

<script is:inline define:vars={{allAwards, placements}}>
const awardsUl = document.getElementById("awards-ul");
const sortBySelect = document.getElementById('sort-by');
const orderBySelect = document.getElementById('order-by');
const placementCheckBoxes = document.querySelectorAll('.placement-checkbox');

const state = {
  filter: {
    placements: placements
  },
  sort: {
    by: 'Date',
    order: 'Descending',
  }
};

const getProcessedAwards = () => {
  const filteredAwards = allAwards.filter((award) => {
    const matchesPlacements = state.filter.placements.includes(award.frontmatter.placement);
    const result = matchesPlacements;
    return result;
  });

  const sortedAwards = [...filteredAwards].sort((awardA, awardB) => {
    const multiplier = state.sort.order === 'Ascending' ? 1 : -1;
    let value = 0;
    if(state.sort.by === 'Date') {
      value = multiplier * (new Date(awardA.frontmatter.date) - new Date(awardB.frontmatter.date));
    } else if(state.sort.by === 'Title') {
      value = multiplier * awardA.frontmatter.title.localeCompare(awardB.frontmatter.title);
    }
    return value;
  });

  return sortedAwards;
};

const render = () => {
  let processedAwards = getProcessedAwards();
  awardsUl.innerHTML = processedAwards.map((award) => `
    <li>
      <a href=${award.url}>${award.frontmatter.title}</a>
    </li>
  `).join('');
}

placementCheckBoxes.forEach((cb) => {
  cb.addEventListener('change', (e) => {
    const isChecked = e.target.checked;
    const value = e.target.value;
    if(!isChecked) {
      // we just unchecked it, remove it
      state.filter.placements = state.filter.placements.filter((p) => p !== value);
      console.log(state.filter.placements);
    } else {
      // we just checked it, add it
      state.filter.placements = [...state.filter.placements, value];
      console.log(state.filter.placements);
    }
    render();
  });
});

sortBySelect.addEventListener('change', (e) => {
  state.sort.by = e.target.value;
  render();
});

orderBySelect.addEventListener('change', (e) => {
  state.sort.order = e.target.value;
  render();
});

render();
</script>

<style>
a {
  text-decoration: none;
}
</style>

