---
import BaseLayout from '../../layouts/BaseLayout.astro';
import AwardsPage from '../../components/awards/AwardsPage.astro';
import { type Award, sortBys, orderBys } from '../../types/award.ts';
const allAwards: Award[] = Object.values(import.meta.glob('./**/index.md', {eager: true}));
const allPlacements: string[] = [...new Set(allAwards.map((award: Award) => award.frontmatter.placement))].sort((a, b) => a.localeCompare(b));
---
<BaseLayout pageTitle="Awards">
  <AwardsPage
    allAwards={allAwards}
    allPlacements={allPlacements}
    sortBys={sortBys}
    orderBys={orderBys}
  />
</BaseLayout>

<!-- <AwardsFilter -->
<!--   allPlacements={allPlacements}  -->
<!-- /> -->
<!-- <fieldset> -->
<!--   <legend>Sort</legend> -->
<!--   <label> -->
<!--     Sort By: -->
<!--     <select id="sort-by"> -->
<!--       {sortBys.map((sortBy) => <option value={sortBy}>{sortBy}</option>)} -->
<!--     </select> -->
<!--   </label> -->
<!--   <label> -->
<!--     Order By: -->
<!--     <select id="order-by"> -->
<!--       {orderBys.map((orderBy) => <option value={orderBy}>{orderBy}</option>)} -->
<!--     </select> -->
<!--   </label> -->
<!-- </fieldset> -->
<!-- <h3> -->
<!--   Viewing -->
<!--   <span id="award-count">0</span> -->
<!--   out of {allAwards.length} awards: -->
<!-- </h3> -->
<!-- <ul id="awards-ul"></ul> -->
<!-- <script is:inline define:vars={{allAwards, allPlacements}}> -->
<!--   const awardsUl = document.getElementById("awards-ul"); -->
<!--   const sortBySelect = document.getElementById('sort-by'); -->
<!--   const orderBySelect = document.getElementById('order-by'); -->
<!--   const placementCheckBoxes = document.querySelectorAll('.placement-checkbox'); -->
<!--   const awardCountSpan = document.getElementById('award-count'); -->
<!---->
<!--   const state = { -->
<!--     filter: { -->
<!--       placements: allPlacements -->
<!--     }, -->
<!--     sort: { -->
<!--       by: 'Date', -->
<!--       order: 'Descending', -->
<!--     } -->
<!--   }; -->
<!---->
<!--   const getProcessedAwards = () => { -->
<!--     const filteredAwards = allAwards.filter((award) => { -->
<!--       const matchesPlacements = state.filter.placements.includes(award.frontmatter.placement); -->
<!--       const result = matchesPlacements; -->
<!--       return result; -->
<!--     }); -->
<!---->
<!--     const sortedAwards = [...filteredAwards].sort((awardA, awardB) => { -->
<!--       const multiplier = state.sort.order === 'Ascending' ? 1 : -1; -->
<!--       let value = 0; -->
<!--       if(state.sort.by === 'Date') { -->
<!--         value = multiplier * (new Date(awardA.frontmatter.date) - new Date(awardB.frontmatter.date)); -->
<!--       } else if(state.sort.by === 'Title') { -->
<!--         value = multiplier * awardA.frontmatter.title.localeCompare(awardB.frontmatter.title); -->
<!--       } -->
<!--       return value; -->
<!--     }); -->
<!---->
<!--     return sortedAwards; -->
<!--   }; -->
<!---->
<!--   const render = () => { -->
<!--     let processedAwards = getProcessedAwards(); -->
<!--     awardCountSpan.innerHTML = `${processedAwards.length}`; -->
<!--     awardsUl.innerHTML = processedAwards.map((award) => ` -->
<!--   <li> -->
<!--   <a href=${award.url}>${award.frontmatter.title}</a> -->
<!--   </li> -->
<!--   `).join(''); -->
<!--   } -->
<!---->
<!--   placementCheckBoxes.forEach((cb) => { -->
<!--     cb.addEventListener('change', (e) => { -->
<!--       const isChecked = e.target.checked; -->
<!--       const value = e.target.value; -->
<!--       if(!isChecked) { -->
<!--         // we just unchecked it, remove it -->
<!--         state.filter.placements = state.filter.placements.filter((p) => p !== value); -->
<!--         console.log(state.filter.placements); -->
<!--       } else { -->
<!--         // we just checked it, add it -->
<!--         state.filter.placements = [...state.filter.placements, value]; -->
<!--         console.log(state.filter.placements); -->
<!--       } -->
<!--       render(); -->
<!--     }); -->
<!--   }); -->
<!---->
<!--   sortBySelect.addEventListener('change', (e) => { -->
<!--     state.sort.by = e.target.value; -->
<!--     render(); -->
<!--   }); -->
<!---->
<!--   orderBySelect.addEventListener('change', (e) => { -->
<!--     state.sort.order = e.target.value; -->
<!--     render(); -->
<!--   }); -->
<!---->
<!--   render(); -->
<!-- </script> -->
<!-- <style> -->
<!--   a { -->
<!--     text-decoration: none; -->
<!--   } -->
<!-- </style> -->
